<div style="max-width: 500px; 
            margin: 30px auto;
            padding: 10px;
            border-radius: 15px;
            color:#ffc107;
            background-color: #757170;">
  <form>
      <div class="mb-3">
          <label class="form-label">User Name</label>
          <input class="form-control" id="usuario">
      </div>
      <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" id="contrasenia">
      </div>
      <button 
        onclick="datosLogIn()"
        style="margin-bottom: 10px" 
        type="submit" 
        class="btn btn-warning text-align: center">
        Log in
    </button>
  </form>
  <h2>Bienvenido usuario</h2>
</div>